html {
  scroll-behavior: smooth;
}

.App {
  text-align: center;
  min-height: 700px;
  position: relative;
  background-image: url("./images/coderbackground.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

.HiIMDarko {
  color: #fff;
  font-family: Jolly Lodger;
  font-size: 6rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 20px;
  background: rgba(29, 27, 27, 0.7);
  text-align: left;
  display: inline-block;
  position: absolute;
  top: 20px;
  left: 10vw;
  padding: 10px;
}
@keyframes box-shadow-animation {
  0% {
    box-shadow: #e9ed9c 0px 0px 10px 0px;
  }
  50% {
    box-shadow: #a27aba 0px 0px 10px 0px;
  }
  100% {
    box-shadow: #e9ed9c 0px 0px 10px 0px;
  }
}

.navbar {
  color: #fff;
  background: rgba(26, 18, 65, 0.495);
  animation: box-shadow-animation 5s infinite;
}
.sticky {
  position: sticky;
  top: 0;
  z-index: 100;
}
.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  margin: auto;
  padding: 1%;
  list-style: none;
}
.nav-item {
  background: rgba(0, 0, 0, 0.7);
  border-radius: 20px;
  padding: 5px;
}
.nav-link {
  font-size: 2.5rem;
  color: #fff;
  text-decoration: none;
}
.nav-link:hover {
  color: #8fd0d9;
}
section {
  z-index: 2;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-height: 100vh;
  padding-top: 50vh;
  margin: 0%;
}
.section-header {
  color: #fff;
  font-family: Jolly Lodger;
  font-size: 4rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.7);
  text-align: left;
  display: inline-block;
  margin: auto;
}
.section-text {
  color: #fff;
  font-size: 1.5rem;
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.7);
  text-align: left;
  margin: 24px 35px;
  padding: 10px 5px;
}
.profilePic {
  border-radius: 50%;
  width: 7rem;
  height: 7rem;
}
.skillIcon {
  width: 4rem;
  height: auto;
}
.skillImageContainer {
  width: 80vw;
  gap: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 20px;
  padding: 0 10px;
}
#projects {
  display: flex;
  flex-direction: column;
}
@keyframes header-shadow-animation {
  0% {
    box-shadow: none;
  }
  50% {
    box-shadow: 0 0 10px rgba(207, 197, 197, 0.3);
  }
  100% {
    box-shadow: none;
  }
}

@keyframes header-color-animation {
  0% {
    color: #e9ed9c;
  }
  50% {
    color: #82d9e3;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  100% {
    color: #e9ed9c;
  }
}

.project-header {
  color: #c5c14f;
  font-size: 2rem;
  text-decoration: none;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 20px;
  animation: header-shadow-animation 5s infinite,
    header-color-animation 3s infinite; /* Set animation duration */
}

.project-header:hover {
  color: #e9ed9c;
  text-shadow: #fff 0px 0px 10px;
  animation: none; /* Disable animation on hover */
}
.contact-links {
  gap: 2rem;
  display: flex;
  flex-direction: row;
  background: rgba(22, 21, 21, 0.575);
  border-radius: 20px;
  justify-content: space-evenly;
  padding: 5px 20px;
}
.contactIcon {
  width: 4rem;
  height: auto;
}
.contactIcon:hover {
  transform: scale(1.2);
}
.parallax-layer {
  position: absolute;
  top: 0;
  left: 0%;
  width: 100%;
  height: 100%; /* Adjust the height to match the viewport */
  background-image: url("./images/coderalone.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
}
