body {font-family: Jolly Lodger;
font-weight: 400;
word-wrap: break-word;

  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: 'white';
    font-size : 96;
}

